.navbar-default {
  background-color: #27a1e7;
  border-color: #1895dd;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover {
  color: #fff;
}
.act {
  background: #168bcd;
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.navbar ul li a .glyphicon {
  padding-right: 5px;
}
.navbar ul li:hover {
  background: #168bcd;
}
.navbar {
  margin-bottom: 0px;
}
.main {
  margin-top: 20px;
}
.c_p {
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 20px;
}
.modal-footer {
  padding: 30px;
  text-align: right;
  border-top: none;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #168bcd;
}
